.bg_darkblue{
    background-color: #2C3E50;
}
.bg_green{
    background-color: #1ABC9C;
}
.bg_white{
    background-color: #FFFFFF;
}
.bg_blue{
    background-color: #3A546D;
}

.green{
    color: #1ABC9C;
}