.fs_2{
    font-size: 2rem;
}
.fs_1_5{
    font-size: 1.5rem;
}
.fs_1_4{
    font-size: 1.4rem;
}
.fs_1{
    font-size: 1rem;
}
.sep{
    border-bottom: 5px solid white;
}
.sep_2{
    border-bottom: 5px solid #2C3E50;
}

.top50{
    top: 16px;
}
.w340{
    width: 340px;
}

.border_none{
    border-style: none;
}
::placeholder{
    font-size: 1.5rem;

}
